header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    justify-content: space-between;
    padding: 2rem;
    background: #eee;
}

.logout-button {
    color: red;
    background-color: blue  ;
}

.disciplinas-cursor {
    cursor:pointer;
    border: 1px solid black;
}

.turmas-cursor {
    cursor: pointer;
    border: 1px solid black
}